$Primary:#2091F9;
$Dark-background-text-color:#252B42;
$second-text-color:#374754;
$form-placeholder-color:#18171D;
$form-board-color:#E8E8E8;
$Light-text-color:#FFFFFF;
$input-border-color:#E8E8E8;
$input-background-color:#F4F4F4;
$input-color:#18171D;
$box-border-color:#DEDEDE;