@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin a-try-for-free{
    width: 236px;
    border-radius: 35px;
    padding: 16px 62px;
    background-color: $Primary;
    text-align: center;
    font-size: 20px;
    color: $Light-text-color;
    transition: 0.7s;
    &:hover{
        border: 2px solid $Primary;
        background-color: $Dark-background-text-color;
    }
}
@mixin input{
    border-radius: 39px;
    outline: none;
    border:1px solid $input-border-color;
    background: $input-background-color;
    line-height: 16px;
    letter-spacing: 0.1px;
    font-weight: 400;
    color: $input-border-color;
}
