/*Html Resert*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 0 150px;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
body{
    font-family:sans-serif;
}
button{
    border: none;
    outline: none;
}

/*Html Resert*/